.page.theme_dark {
  --accent-color: #ff0070;
  --main-title-color: #db00ff;
  --base-color-text: #f1b2ce;
  --additional-color: #000028;
  --article-title-color: var(--additional-color);
  --article-subtitle-color: var(--additional-color);
  --section-title-color: var(--accent-color);
  --decor-color: var(--accent-color);
  --bg-image: url(../images/cover-image-dark.png);
  --visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --main-title-color: #db00ff;
    --base-color-text: #f1b2ce;
    --additional-color: #000028;
    --article-title-color: var(--additional-color);
    --section-title-color: var(--accent-color);
    --decor-color: var(--accent-color);
    --bg-image: url(../images/cover-image-dark.png);
    --visibility: visible;
  }

  .decorated-element {
    visibility: var(--visibility);
  }
}
