.page.theme_light {
  --accent-color: #ff8dcb;
  --main-title-color: #ffc2e6;
  --base-color-text: #353430;
  --additional-color: #fff1f7;
  --article-title-color: var(--base-color-text);
  --section-title-color: var(--base-color-text);
  --article-subtitle-color: var(--base-color-text);
  --decor-color: var(--base-color-text);
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-title-color: #ffc2e6;
    --base-color-text: #353430;
    --additional-color: #fff1f7;
    --article-title-color: var(--base-color-text);
    --article-subtitle-color: var(--base-color-text);
    --section-title-color: var(--base-color-text);
    --decor-color: var(--base-color-text);
    --bg-image: url(../images/cover-image-light.png);
  }
}
