.page {
  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
  color: var(--base-color-text);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  background: var(--additional-color) var(--bg-image) no-repeat center/cover;
  background-attachment: fixed;
}

.header {
  min-height: 100vh;
  position: relative;
  margin-block-end: 30px;
  padding: 10px;
  display: grid;
}

.decorated-zone::before {
  position: absolute;
  right: 10px;
  top: 10px;
  content: "";
  block-size: 25px;
  inline-size: 25px;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
}

.decorated-zone::after {
  position: absolute;
  left: 10px;
  bottom: 10px;
  content: "";
  block-size: 25px;
  inline-size: 25px;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
}

.decorated-element {
  justify-self: end;
  margin-block-end: 40px;
  color: var(--decor-color);
  line-height: 25px;
  text-transform: uppercase;
}

.decorated-element::after {
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  margin-inline-end: 10px;
  display: grid;
  gap: 13px;
}

.header__theme-menu-button {
  color: var(--decor-color);
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--decor-color);
  outline-offset: 2px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  text-decoration: 1px underline;
  text-underline-offset: 5px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--decor-color);
  outline-offset: 2px;
}

.text-decor {
  background-color: var(--accent-color);
}

.header__title {
  margin: 66px 0 58px;
  color: var(--main-title-color);
  line-height: 82.5%;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  max-height: 120px;
  margin-block-end: 57px;
  color: var(--article-title-color);
  font-weight: 700;
}

.content {
  display: grid;
  gap: 50px;
  margin-block-end: 23px;
  padding: 10px;
}

.content__section {
  display: grid;
  gap: 20px;
}

.content__section-title {
  max-width: 350px;
  color: var(--section-title-color);
  font-size: inherit;
}

.content__section-subtitle,
.article__title {
  color: var(--article-title-color);
  font-size: inherit;
}

.article {
  display: grid;
  gap: 10px;
}

h4 {
  margin-block-end: 10px;
  color: var(--article-subtitle-color);
  font-weight: normal;
}

.picture-wrapper {
  display: grid;
  gap: 5px;
  margin-block-start: -10px;
}

.accent-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.accent-link:focus-visible {
  outline: 1px solid var(--base-color-text);
}

.accent-link:hover {
  text-decoration: underline;
}

.article__picture {
  max-width: 100%;
}

.article__image {
  width: 100%;
}

.footer {
  position: relative;
  min-height: 100vh;
  padding: 10px;
}

.footer__text {
  margin: 280px 0 270px;
  color: var(--main-title-color);
  line-height: 82.5%;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-align: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media screen and (width>=768px) {
  .header {
    padding: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .decorated-element {
    margin-block-end: 147px;
  }

  .header__title {
    margin: 177px 0 163px -18px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    justify-self: end;
    max-width: 364px;
    margin-block-end: 160px;
  }

  .content {
    gap: 80px;
    margin-block-start: 40px;
    padding: 20px;
  }
  .content__section:nth-child(1) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
  }

  .content__section:nth-child(odd) > .article {
    grid-column: 2;
  }

  .content__section:nth-child(3) {
    grid-template-columns: fit-content(315px) 1fr;
    grid-template-rows: auto;
  }

  .content__section:nth-child(3) > .content__section-title {
    grid-column: 1;
    grid-row: 1/7;
  }

  .content__section-title {
    max-width: 230px;
    margin-inline-end: 5px;
  }

  .picture-wrapper {
    gap: 20px;
    margin-block-start: 1px;
  }

  .article__picture:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }

  .article__picture:nth-child(2) {
    grid-column: 3;
    grid-row: 1/3;
  }

  .article__picture:nth-child(3) {
    grid-column: 1;
    grid-row: 2/4;
  }

  .article__picture:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .article__picture:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3;
  }

  .article__image {
    display: block;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .footer {
    padding: 20px;
    margin-block-start: 40px;
  }

  .footer__text {
    margin: 442px 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media screen and (width>=1024px) {
  .decorated-element {
    grid-row: 1;
    grid-column: 3;
  }

  .header__theme-menu {
    grid-row: 1;
    grid-column: 2;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 25px;
    margin-inline-end: 260px;
  }

  .header__title {
    margin: 130px 0 112px -18px;
    grid-column: 1/3;
  }

  .header__text {
    min-width: 491px;
    grid-column: 2/4;
    margin-block-end: 115px;
  }

  .content__section:nth-child(2) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 23px 360px;
    margin-block-end: 28px;
  }

  .content__section:nth-child(2) .content__section-title {
    grid-column: 1/4;
    grid-row: 1;
  }

  .content__section:nth-child(2) .article:nth-of-type(1) {
    grid-column: 1;
    grid-row: 2;
  }

  .content__section:nth-child(2) .article:nth-of-type(2) {
    grid-column: 2;
    grid-row: 2;
  }

  .content__section:nth-child(2) .article:nth-of-type(3) {
    grid-column: 3;
    grid-row: 2;
  }

  .content__section-title {
    min-width: 315px;
    margin-inline-end: 2px;
  }

  .content__section:nth-child(odd) .article {
    margin-inline-start: -5px;
  }

  .picture-wrapper {
    margin-block-start: -2px;
  }

  .article__text {
    min-width: none;
  }

  .footer {
    margin-block-start: 40px;
  }
  .footer__text {
    margin: 300px 0;
  }
}
